.servicesContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
    padding: 100px 0 50px 0;
  width: 1200px;

  .ng-valid.ng-touched{

    border-color: lightgreen;
}

.ng-invalid.ng-touched{
      border-color: lightsalmon;
}

  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  form {
    height: 100vh;
  }

  .skills {
    margin: 20px 0;
  }

  .languages {
    margin: 20px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
  }
  #jobOffersPublished {
    text-align: center;
    margin-bottom: 40px;
  }

  .fa-id-card {
    font-size: 1.5rem;
  }
}
