footer {

  text-align: center;
  color: white;
  display: inline-block;
  bottom: 0;
  width: 100%;
  a:hover,
  button:hover {
    color: lightblue !important;
  }
  small{
    color:white;

    a{
      
      color: white;
      text-decoration: underline;

    }
  }
}

.list {
  line-height: 0.8rem;
}

