.servicesContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
    height: 150vh;
  width: 1200px;

      .ng-valid.ng-touched{

    border-color: lightgreen;
}

.ng-invalid.ng-touched{
      border-color: lightsalmon;
}

  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  form{
    height: 80vh;
  }


}