<div id="home" class="HeroContainer">
  <div class="HeroBg">
    <video class="VideoBg" autoplay loop type="video/mp4">
      <source src="../../../assets/video/pexels-kindel-media-6774633.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="HeroContent">
    <h1 class="HeroH1">The <strong>world’s</strong> best work marketplace!</h1>
    <p class="HeroP">
      Engage the largest network of trusted independent professionals to unlock
      the full potential of your business.
    </p>
    <div class="HeroBtnWrapper">
      <a class="btn btn-outline-light btn-lg mb-1 ArrowRight" href="loginfreelance" role="button">Freelancer, Join
        Now!</a>

    </div>


  </div>

</div>