<!-- Background image -->
<div class="hero p-5 text-center bg-image">
  <div class="mask m-6" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">The <strong>world’s</strong> work marketplace</h1>
        <h4 class="mb-3">
          Engage the largest network of trusted independent professionals to
          unlock the full potential of your business.
        </h4>
        <a class="btn btn-outline-light btn-lg mr-1" href="#!" role="button">Job Offers</a>
        <a class="btn btn-outline-light btn-lg mr-1" href="#!" role="button">Looking for Job</a>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->

<div id="container">
  <div id="bg">
    <div id="color-overlay"></div>
  </div>

  <div class="sitetitle">
    <h1>EXPLORE</h1>
    <span class="button"><a href="#">Begin</a></span>
  </div>
</div>