<!-- <app-hero></app-hero> -->

<div class="infoContainer">
    <div class="infoWrapper">
        <div class="infoRow">
            <div class="column1">
                <div class="textWrapper">
                    <p class="topLine">Best place to work!</p>
                    <h1 class="heading">The remote work leader for over 20 years!</h1>
                    <p class="subtitle">
                        Tikjob makes it fast, simple, and cost-effective to find, hire, work
                        with, and pay the best professionals anywhere, any time.
                    </p>
                    <div class="btnWrap">
                        <button class="button"><a href="#!">Let's go!</a></button>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div class="imgWrap">
                    <img src="../../../assets/images/svg-1.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="infoContainer">


    <div class="container">

        <!-- TENDREMOS QUE HACER LOS NG FOR -->

        <h2>Last offers</h2>
        <a href="#">+ OFFERS</a>

        <hr>
        <div class="grid">

            <article>

                OFFER 1

            </article>

            <article>

                OFFER 2

            </article>

            <article>

                OFFER 3

            </article>

            <article>

                OFFER 4

            </article>
            <article>

                OFFER 5

            </article>


        </div>



        <h2>Find by sector</h2>
        <a href="#">+ SECTORS</a>
        <hr>


        <div class="grid">

            <article>
                <p>Technology</p>

                <figure>
                    <img src="https://s3-eu-west-1.amazonaws.com/uploads.playbaamboozle.com/uploads/images/3562/1527362856_534238"
                        alt="Technology">
                </figure>
                <h3>Technology</h3>

            </article>

            <article>
                <p>Commercial</p>

                <figure>
                    <img src="https://ressources.regionsjob.com/seo/ObsJob/commercial-en-informatique.jpg"
                        alt="Commercial">
                </figure>

                <h3>Commercial</h3>
            </article>

            <article>
                <p>Health</p>

                <figure>
                    <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202011/online-marketing-hIgeoQjS_iE-u_1200x768.jpeg?YS_orNw3gZPtQjmhFExMdyYPI8ZN7i8v&size=770:433"
                        alt="Health">
                </figure>

                <h3>Health</h3>
            </article>

        </div>

        <h2>Find by area</h2>
        <a href="#">+ CITIES</a>

        <hr>

        <div class="grid">

            <article>
                <p>Barcelona</p>

                <figure>
                    <img src="https://img1.oastatic.com/img2/15186404/2049x1524f/barcelona-mit-blick-vom-park-gueell-aus.jpg"
                        alt="Barcelona">
                </figure>
                <h3>Barcelona</h3>

            </article>

            <article>
                <p>Madrid</p>

                <figure>
                    <img src="https://guias-viajar.com/madrid/wp-content/uploads/2012/08/fotos-madrid-oso-madro%C3%B1o-003.jpg"
                        alt="Madrid">
                </figure>
                <h3>Madrid</h3>

            </article>

            <article>
                <p>Valencia</p>

                <figure>
                    <img src="https://media.husmanhagberg.se/cms/sites/2/2020/05/Valencia-City-Center-2.jpg"
                        alt="Valencia">
                </figure>
                <h3>Valencia</h3>

            </article>

        </div>

    </div>

</div>