<div class="servicesContainer">
  <h1 class="servicesH1">Companies</h1>
  <div class="servicesWrapper">
    <div class="servicesCard" *ngFor="
        let company of allCompanies
          | paginate: { itemsPerPage: 4, currentPage: page }
      ">
      <img [src]="'https://tikjobs.herokuapp.com/images/' + company.image" class="servicesIcon" />
      <!-- <img [src]="'https://localhost:3000/images/' + company.image" class="servicesIcon" /> -->

      <h2 class="servicesH2">{{ company.name_company }}</h2>
      <p class="serviceP">
        {{ company.city }}
      </p>
      <p class="serviceP">
        {{ company.country }}
      </p>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="page = $event" responsive=" true" previousLabel="Previous" nextLabel="Next">
</pagination-controls>