.navbar {
  height: 70px;
  padding-bottom: 5rem;
  display: flex;
  padding: 5px 60px;
  margin-bottom: 10rem;
  //   background: linear-gradient(to right, #36d1dc, #5b86e5) !important;
  background: linear-gradient(to right, #021b79, #0575e6);
  // z-index: 2;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  .float-shadow {
    display: inline-block;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;

    // @include hideTapHighlightColor();
    // @include hardwareAccel();
    // @include improveAntiAlias();

    &:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: "";
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
      ); /* W3C */
      transition-duration: 0.3s;
      transition-property: transform opacity;
    }

    &:hover {
      transform: translateY(-5px); /* move the element up by 5px */
      color: white;
      &:before {
        opacity: 1;
        transform: translateY(
          5px
        ); /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
      }
    }
  }
}

.logo {
  font-family: Lobster;
  font-size: 2rem;
  color: white;
  flex: 3;
  position: relative;
  z-index: 3;
  // text-shadow: 0 0 2px #fff, -1px -1px 0 hsl(80, 70%, 35%),
  //   -2px -2px 1px hsl(80, 70%, 35%), -2px -2px 2px hsl(80, 10%, 15%);
  text-shadow: 0px 2px 3px #666;
  &::after {
    content: "";
    position: absolute;
    top: 3;
    left: 0;
    width: 3.5rem;
    height: 3.5rem;
    background: #f54538;
    border-radius: 50%;
    transform: translate(-10%, -20%);
    mix-blend-mode: screen;
    margin-top: 0.4rem;
  }
}

.navbar-collapse ul {
  font-family: Roboto;
  font-size: 1.5rem;
}
