<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-5">
  <!-- fixed-top -->
  <!-- Navbar brand -->
  <a class="navbar-brand logo" [routerLink]="['/home']"><strong>TikJobs</strong>
  </a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse text-start" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3">
        <a class="nav-link float-shadow" [routerLink]="['/home']"><i class="fas fa-home"></i> Home
        </a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link float-shadow" [routerLink]="['/freelance']"><i class="fas fa-users"></i> Freelancers
        </a>
      </li>

      <li class="nav-item mr-3">
        <a class="nav-link float-shadow" [routerLink]="['/job_offers']"><i class="fas fa-briefcase"></i> Jobs
        </a>
      </li>
      <!-- Dropdown Login -->
      <li class="nav-item dropdown mr-2">
        <a class="nav-link dropdown-toggle float-shadow" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i class="fas fa-sign-in-alt"></i> Login</a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item float-shadow" [routerLink]="['/logincompany']">
            Company
          </a>

          <a class="dropdown-item float-shadow" [routerLink]="['/loginfreelance']">
            Freelancer
          </a>
        </div>
      </li>
      <!-- Dropdown Forms -->
      <!--     <li class="nav-item dropdown ml-5">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Forms</a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/form_company']"> Company</a>

          <a class="dropdown-item" [routerLink]="['/form_freelance']">
            Freelancer</a>
        </div>
      </li> -->

      <!-- Dropdown Account -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle float-shadow" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">My Account</a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item float-shadow" [routerLink]="['/company/profile']">
            Company</a>

          <a class="dropdown-item float-shadow" [routerLink]="['/freelance/profile']">
            Freelancer</a>
        </div>
      </li>
    </ul>

    <div>
      <button (click)="logOut()" class="btn-sm btn-danger mr-2">LOG OUT</button>
    </div>
    <!-- Search BAR -->

    <div class="d-flex">
      <input class="form-control me-2" type="text" placeholder="City / Freelance / Jobs" aria-label="Search"
        [(ngModel)]="search" />
      <button (click)="searchTitle()" class="btn btn-success ml-1" type="button">
        Search
      </button>
    </div>
  </div>
  <!-- Collapsible content -->
</nav>