#DIV_1 {
  block-size: 520px;
  border-block-end-color: rgb(84, 84, 84);
  border-block-start-color: rgb(84, 84, 84);
  border-inline-end-color: rgb(84, 84, 84);
  border-inline-start-color: rgb(84, 84, 84);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(84, 84, 84);
  color: rgb(84, 84, 84);
  column-rule-color: rgb(84, 84, 84);
  height: 70vh;
  inline-size: 1536px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  margin-inline-end: 183.5px;
  margin-inline-start: 183.5px;
  padding-inline-end: 48px;
  padding-inline-start: 48px;
  perspective-origin: 768px 260px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(84, 84, 84);
  top: 120px;
  transform-origin: 768px 260px;
  width: 1536px;
  border: 0px none rgb(84, 84, 84);
  font: 16px / 16px ProximaNova-regular, proxima-nova, "Helvetica Neue",
    Helvetica, sans-serif;
  margin: 0px 183.5px;
  outline: rgb(84, 84, 84) none 0px;
  padding: 0px 48px;
} /*#DIV_1*/

#DIV_1:after {
  border-block-end-color: rgb(84, 84, 84);
  border-block-start-color: rgb(84, 84, 84);
  border-inline-end-color: rgb(84, 84, 84);
  border-inline-start-color: rgb(84, 84, 84);
  caret-color: rgb(84, 84, 84);
  color: rgb(84, 84, 84);
  column-rule-color: rgb(84, 84, 84);
  text-align: center;
  text-decoration: none solid rgb(84, 84, 84);
  border: 0px none rgb(84, 84, 84);
  font: 16px / 16px ProximaNova-regular, proxima-nova, "Helvetica Neue",
    Helvetica, sans-serif;
  outline: rgb(84, 84, 84) none 0px;
} /*#DIV_1:after*/

#DIV_1:before {
  border-block-end-color: rgb(84, 84, 84);
  border-block-start-color: rgb(84, 84, 84);
  border-inline-end-color: rgb(84, 84, 84);
  border-inline-start-color: rgb(84, 84, 84);
  caret-color: rgb(84, 84, 84);
  color: rgb(84, 84, 84);
  column-rule-color: rgb(84, 84, 84);
  text-align: center;
  text-decoration: none solid rgb(84, 84, 84);
  border: 0px none rgb(84, 84, 84);
  font: 16px / 16px ProximaNova-regular, proxima-nova, "Helvetica Neue",
    Helvetica, sans-serif;
  outline: rgb(84, 84, 84) none 0px;
} /*#DIV_1:before*/

#IMG_2 {
  block-size: 500px;
  border-block-end-color: rgb(84, 84, 84);
  border-block-start-color: rgb(84, 84, 84);
  border-inline-end-color: rgb(84, 84, 84);
  border-inline-start-color: rgb(84, 84, 84);
  caret-color: rgb(84, 84, 84);
  color: rgb(84, 84, 84);
  column-rule-color: rgb(84, 84, 84);
  display: block;
  height: 500px;
  inline-size: 1170px;
  margin-inline-end: 135px;
  margin-inline-start: 135px;
  max-inline-size: 100%;
  max-width: 100%;
  padding-block-start: 20px;
  perspective-origin: 585px 260px;
  text-align: center;
  text-decoration: none solid rgb(84, 84, 84);
  transform-origin: 585px 260px;
  width: 1170px;
  border: 0px none rgb(84, 84, 84);
  font: 16px / 16px ProximaNova-regular, proxima-nova, "Helvetica Neue",
    Helvetica, sans-serif;
  margin: 0px 135px;
  outline: rgb(84, 84, 84) none 0px;
  padding: 20px 0px 0px;
} /*#IMG_2*/

#IMG_2:after {
  border-block-end-color: rgb(84, 84, 84);
  border-block-start-color: rgb(84, 84, 84);
  border-inline-end-color: rgb(84, 84, 84);
  border-inline-start-color: rgb(84, 84, 84);
  caret-color: rgb(84, 84, 84);
  color: rgb(84, 84, 84);
  column-rule-color: rgb(84, 84, 84);
  text-align: center;
  text-decoration: none solid rgb(84, 84, 84);
  border: 0px none rgb(84, 84, 84);
  font: 16px / 16px ProximaNova-regular, proxima-nova, "Helvetica Neue",
    Helvetica, sans-serif;
  outline: rgb(84, 84, 84) none 0px;
} /*#IMG_2:after*/

#IMG_2:before {
  border-block-end-color: rgb(84, 84, 84);
  border-block-start-color: rgb(84, 84, 84);
  border-inline-end-color: rgb(84, 84, 84);
  border-inline-start-color: rgb(84, 84, 84);
  caret-color: rgb(84, 84, 84);
  color: rgb(84, 84, 84);
  column-rule-color: rgb(84, 84, 84);
  text-align: center;
  text-decoration: none solid rgb(84, 84, 84);
  border: 0px none rgb(84, 84, 84);
  font: 16px / 16px ProximaNova-regular, proxima-nova, "Helvetica Neue",
    Helvetica, sans-serif;
  outline: rgb(84, 84, 84) none 0px;
} /*#IMG_2:before*/
