<body>
  <div class="wrapper">
    <form class="login" [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <p class="title">Welcome, freelancer.</p>
      <input
        type="text"
        placeholder="Username"
        class="form-control"
        formControlName="email"
        required
        autofocus
      />
      <i class="fa fa-user"></i>
      <input
        type="password"
        placeholder="Password"
        class="form-control"
        formControlName="password"
        required
      />
      <i class="fa fa-key"></i>
      <a [routerLink]="['/form_freelance']">Don't have an account?</a>
      <button type="submit">
        <i class="spinner"></i>
        <span class="state">Log in</span>
      </button>
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
    <footer><a [routerLink]="['/home']">tikjobs.com</a></footer>
  </div>
</body>
