<div class="servicesContainer justify-content-center mt-5">
  <!-- collapse -->
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    class="nav-tabs justify-content-center"
  >
    <li [ngbNavItem]="1">
      <a ngbNavLink>Personal Details</a>
      <ng-template ngbNavContent>
        <form
          class="text-center border border-light p-5"
          [formGroup]="formularioFreelancer"
          (ngSubmit)="onSubmitFreelancer()"
        >
          <h2>PERSONAL DETAILS</h2>

          <div class="form-row mb-4">
            <div class="col">
              <!-- USERNAME -->
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                formControlName="username"
              />
            </div>
            <div class="col">
              <!-- PASSWORD -->
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <!-- First name -->
              <input
                type="text"
                class="form-control"
                placeholder="First name"
                formControlName="firstname"
              />
            </div>
            <div class="col">
              <!-- Last name -->
              <input
                type="text"
                class="form-control"
                placeholder="Last name"
                formControlName="lastname"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <!-- E-mail -->
              <input
                type="email"
                id="defaultRegisterFormEmail"
                class="form-control mb-4"
                placeholder="E-mail"
                formControlName="email"
              />
            </div>
            <!-- SEXO -->
            <div class="col">
              <select class="sexo-select" formControlName="gender">
                <option selected>Select gender</option>
                <option value="M">Man</option>
                <option value="W">Woman</option>
              </select>
            </div>
          </div>
          <!-- Phone number -->
          <input
            type="text"
            id="defaultRegisterPhonePassword"
            class="form-control"
            placeholder="Phone number"
            aria-describedby="defaultRegisterFormPhoneHelpBlock"
            formControlName="phone"
          />
          <div class="form-row mb-4">
            <!-- Photo -->
            <div class="col">
              <div class="custom-file mb-3 mt-3">
                <input type="file" class="custom-file-input" />
                <label
                  class="custom-file-label"
                  for="customFile"
                  formControlName="image"
                  >Choose picture</label
                >
              </div>
            </div>
            <!-- Video -->
            <div class="col">
              <div class="custom-file mb-3 mt-3">
                <input
                  type="file"
                  class="custom-file-input"
                  formControlName="video"
                />
                <label class="custom-file-label" for="customFile"
                  >Choose video</label
                >
              </div>
            </div>
          </div>
          <div class="form-row mb-4">
            <!-- Street -->
            <div class="col">
              <input
                type="text"
                class="form-control mb-4"
                placeholder="Enter Street"
                formControlName="streetName"
              />
            </div>
            <!-- Postcode -->
            <div class="col">
              <input
                type="number"
                class="form-control mb-4"
                placeholder="Enter Postcode"
                formControlName="zipcode"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <!-- City -->
            <div class="col">
              <input
                type="text"
                class="form-control mb-4"
                placeholder="Enter City"
                formControlName="city"
              />
            </div>
            <!-- Country -->
            <div class="col">
              <input
                type="text"
                class="form-control mb-4"
                placeholder="Enter Country"
                formControlName="country"
              />
            </div>
          </div>

          <!-- JobTitle -->
          <input
            type="text"
            id="defaultJobTitle"
            class="form-control mb-4"
            placeholder="Job Title"
            formControlName="job_title"
          />

          <!-- LinkedIn -->
          <input
            type="url"
            id="defaultWebsite"
            class="form-control mb-4"
            placeholder="Website"
            formControlName="website"
          />
          <!-- Profile -->
          <div class="form-row mb-4">
            <h2>PROFILE</h2>
            <div class="col">
              <label>Write your profile here</label>
              <textarea
                cols="30"
                rows="15"
                id="defaultTextProfile"
                class="form-control"
              >
              </textarea>
            </div>
          </div>
          <!-- Skils -->
          <h2>SKILLS</h2>

          <div class="col">
            <select class="form-control skillsSelect" formControlName="skill">
              <option value="">Select your skills</option>
              <option value="" *ngFor="let skill of skills">
                {{ skill.skill }}
              </option>
            </select>
          </div>

          <!-- Languages -->

          <div class="col">
            <h2>Languages</h2>
            <select
              class="form-control skillsSelect"
              formControlName="language "
            >
              <option value="">Select your languages</option>
              <option value="" *ngFor="let language of languages">
                {{ language.language }}
              </option>
            </select>
          </div>

          <!-- Save button -->
          <button color="info" block="true" class="btn btn-info" type="submit">
            Save
          </button>
        </form>
      </ng-template>
    </li>
    <!-- Profile -->
    <li [ngbNavItem]="2">
      <a ngbNavLink>Profile</a>
      <ng-template ngbNavContent>
        <form class="text-center border border-muted p-5">
          <!-- Sign up button -->
          <button class="btn btn-info" type="submit">Save</button>
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Education</a>
      <ng-template ngbNavContent>
        <form
          class="text-center border border-light p-5"
          [formGroup]="formularioEducation"
          (ngSubmit)="onSubmitLanguage()"
        >
          <h2>EDUCATION</h2>
          <div class="form-row mb-4">
            <div class="col">
              <!-- Degree -->
              <input
                type="text"
                class="form-control"
                placeholder="Degree"
                formControlName="degree"
              />
            </div>
            <div class="col">
              <!-- School -->
              <input
                type="text"
                class="form-control"
                placeholder="School"
                formControlName="school"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <!-- City -->
              <input
                type="text"
                class="form-control"
                placeholder="City"
                formControlName="city"
              />
            </div>
            <div class="col">
              <!-- Country -->
              <input
                type="text"
                class="form-control"
                placeholder="Country"
                formControlName="country"
              />
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <!-- Start Date -->
              <label for="start">Start date:</label>
              <hr />

              <input
                type="date"
                id="start"
                name="trip-start"
                value="2018-07-22"
                min="2018-01-01"
                max="2018-12-31"
                formControlName="start_date"
              />
            </div>
            <div class="col">
              <!-- End Date -->
              <label for="start">End date:</label>
              <hr />

              <input
                type="date"
                id="end"
                name="trip-start"
                value="2018-07-22"
                min="2018-01-01"
                max="2018-12-31"
                formControlName="end_date"
              />
            </div>
          </div>

          <!-- Add button -->
          <button class="btn btn-info" type="submit">+ Add</button>

          <!-- Delete button -->
          <button class="btn btn-danger m-1" type="submit">- Delete</button>

          <!-- Save button -->
          <button class="btn btn-success" type="submit">Save</button>
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink>Courses</a>
      <ng-template ngbNavContent>
        <form
          class="text-center border border-light p-5"
          [formGroup]="formularioCourse"
          (ngSubmit)="onSubmitCourse()"
        >
          <h2>Course</h2>
          <div class="form-row mb-4">
            <div class="col">
              <!-- Title -->
              <input
                type="text"
                class="form-control"
                placeholder="Course title"
                formControlName="course_title"
              />
            </div>
            <div class="col">
              <!-- Institution -->
              <input
                type="text"
                class="form-control"
                placeholder="Institution"
                formControlName="institution"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <!-- City -->
              <input
                type="text"
                class="form-control"
                placeholder="City"
                formControlName="city"
              />
            </div>
            <div class="col">
              <!-- Country -->
              <input
                type="text"
                class="form-control"
                placeholder="Country"
                formControlName="country"
              />
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <!-- Start Date -->
              <label for="start">Start date:</label>
              <hr />

              <input
                type="date"
                id="start"
                name="trip-start"
                value="2018-07-22"
                min="2018-01-01"
                max="2018-12-31"
                formControlName="start_date"
              />
            </div>
            <div class="col">
              <!-- End Date -->
              <label for="start">End date:</label>
              <hr />

              <input
                type="date"
                id="end"
                name="trip-start"
                value="2018-07-22"
                min="2018-01-01"
                max="2018-12-31"
                formControlName="end_date"
              />
            </div>
          </div>

          <div class="col">
            <!-- Course link -->
            <input
              type="url"
              class="form-control"
              placeholder="Course link"
              formControlName="course_link"
            />
          </div>

          <!-- Add button -->
          <button class="btn btn-info" type="submit">+ Add</button>

          <!-- Delete button -->
          <button class="btn btn-danger m-1" type="submit">- Delete</button>

          <!-- Save button -->
          <button class="btn btn-success" type="submit">Save</button>
        </form>
      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <a ngbNavLink>Professional Experience</a>
      <ng-template ngbNavContent>
        <form
          class="text-center border border-light p-5"
          [formGroup]="formularioProfesionalExperience"
          (ngSubmit)="onSubmitExperience()"
        >
          <h2>PROFESSIONAL EXPERIENCE</h2>
          <div class="form-row mb-4">
            <div class="col">
              <!-- Employer -->
              <input
                type="text"
                class="form-control"
                placeholder="Employer"
                formControlName="employer"
              />
            </div>
            <div class="col">
              <!-- Job Title -->
              <input
                type="text"
                class="form-control"
                placeholder="Job Title"
                formControlName="job_title"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <!-- City -->
              <input
                type="text"
                class="form-control"
                placeholder="City"
                formControlName="city"
              />
            </div>
            <div class="col">
              <!-- Country -->
              <input
                type="text"
                class="form-control"
                placeholder="Country"
                formControlName="country"
              />
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <!-- Start Date -->
              <label for="start">Start date:</label>
              <hr />

              <input
                type="date"
                id="start"
                name="trip-start"
                value="2018-07-22"
                min="2018-01-01"
                max="2018-12-31"
                formControlName="start_date"
              />
            </div>
            <div class="col">
              <!-- End Date -->
              <label for="start">End date:</label>
              <hr />

              <input
                type="date"
                id="end"
                name="trip-start"
                value="2018-07-22"
                min="2018-01-01"
                max="2018-12-31"
                formControlName="end_date"
              />
            </div>
          </div>
          <!-- Company link -->
          <input
            type="url"
            class="form-control"
            placeholder="Company link"
            formControlName="company_link"
          />
          <!-- Jobs description -->
          <div class="mt-3 mb-3">
            <label> Description</label>
            <textarea id="" class="form-control" formControlName="description">
            </textarea>
          </div>
          <!-- Add button -->
          <button class="btn btn-info" type="submit">+ Add</button>

          <!-- Delete button -->
          <button class="btn btn-danger m-1" type="submit">- Delete</button>

          <!-- Save button -->
          <button class="btn btn-success" type="submit">Save</button>
        </form>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <pre>Active: {{ active }}</pre>
</div>
