.servicesContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
  height: 100vh;
  width: 1200px;

  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }

  form{

    height: 80vh;
  }
}
