<div class="servicesContainer justify-content-center mt-5">
  <!-- collapse -->
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    class="nav-tabs justify-content-center"
  >
    <!-- FREELANCER INFO -->

    <li [ngbNavItem]="1">
      <a ngbNavLink> <i class="fa fa-user"></i> Personal Details</a>
      <ng-template ngbNavContent>
        <form
          class="text-center border border-light p-5"
          [formGroup]="formularioFreelancer"
          (ngSubmit)="onSubmitFreelancer()"
        >
          <h2>PERSONAL DETAILS</h2>

          <div class="form-row mb-4">
            <div class="col">
              <!-- USERNAME -->
              <input
                type="text"
                class="form-control"
                formControlName="username"
                [value]="freelancer?.username"
                placeholder="username"
              />
            </div>
            <fieldset disabled>
              <div class="col">
                <!-- PASSWORD -->
                <input
                  type="password"
                  id="disabledInput"
                  class="form-control"
                  formControlName="password"
                  [value]="freelancer?.password"
                  placeholder="password"
                />
              </div>
            </fieldset>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <!-- First name -->
              <input
                type="text"
                class="form-control"
                value="First name"
                formControlName="firstname"
                [value]="freelancer?.firstname"
              />
            </div>
            <div class="col">
              <!-- Last name -->
              <input
                type="text"
                class="form-control"
                formControlName="lastname"
                [value]="freelancer?.lastname"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <!-- E-mail -->
              <input
                type="email"
                id="defaultRegisterFormEmail"
                class="form-control mb-4"
                value="E-mail"
                formControlName="email"
                [value]="freelancer?.email"
              />
            </div>
            <!-- SEXO -->
            <div class="col">
              <select
                class="custom-select form-control"
                formControlName="gender"
                [value]="freelancer?.gender"
              >
                <option selected>Select gender</option>
                <option value="M">Man</option>
                <option value="W">Woman</option>
              </select>
            </div>
          </div>
          <!-- Phone number -->
          <input
            type="text"
            id="defaultRegisterPhonePassword"
            class="form-control"
            aria-describedby="defaultRegisterFormPhoneHelpBlock"
            formControlName="phone"
            [value]="freelancer?.phone"
          />
          <div class="form-row mb-4">
            <!-- Photo -->
            <div class="col">
              <div class="custom-file mb-3 mt-3">
                <input
                  type="file"
                  class="custom-file-input form-control"
                  formControlName="image"
                  (change)="onChange($event)"
                />
                <label class="custom-file-label" for="customFile">{{
                  freelancer?.image
                }}</label>
              </div>
            </div>
            <!-- Video -->
            <div class="col">
              <div class="mb-3 mt-3">
                <input
                  type="url"
                  class="form-control"
                  formControlName="video"
                  [value]="freelancer?.video"
                />
              </div>
            </div>
          </div>
          <div class="form-row mb-4">
            <!-- Street -->
            <div class="col">
              <input
                type="text"
                class="form-control mb-4"
                formControlName="streetName"
                [value]="freelancer?.streetName"
              />
            </div>
            <!-- Postcode -->
            <div class="col">
              <input
                type="number"
                class="form-control mb-4"
                formControlName="zipcode"
                [value]="freelancer?.zipcode"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <!-- City -->
            <div class="col">
              <input
                type="text"
                class="form-control mb-4"
                formControlName="city"
                [value]="freelancer?.city"
              />
            </div>
            <!-- Country -->
            <div class="col">
              <input
                type="text"
                class="form-control mb-4"
                formControlName="country"
                [value]="freelancer?.country"
              />
            </div>
          </div>

          <!-- JobTitle -->
          <input
            type="text"
            id="defaultJobTitle"
            class="form-control mb-4"
            formControlName="job_title"
            [value]="freelancer?.job_title"
          />

          <!-- LinkedIn -->
          <input
            type="url"
            id="defaultWebsite"
            class="form-control mb-4"
            [value]="freelancer?.website"
            formControlName="website"
          />
          <!-- Profile -->
          <div class="form-row mb-4">
            <div class="col">
              <h4>Write your <strong>profile</strong> here</h4>
              <textarea
                id="defaultTextProfile"
                class="form-control"
                [value]="freelancer?.profile"
              >
              </textarea>
            </div>
          </div>
          <div class="form-row mb-4">
            <!-- Skils -->
            <div class="col">
              <h4>SKILLS</h4>

              <ul
                class="list-group list-group-horizontal-lg"
                *ngFor="let skill of skills"
              >
                <li class="list-group-item list-group-item-info">
                  {{ skill.skill }}
                </li>
              </ul>
            </div>

            <!-- <div class="col skills">
            <select class="form-control skillsSelect" formControlName="skill">
              <option>Select your skills</option>
              <option value="" *ngFor="let skill of skills">
                {{ skill.skill }}
              </option>
            </select>
          </div> -->

            <!-- Languages -->

            <div class="col">
              <h4>LANGUAGES</h4>

              <ul
                class="list-group list-group-horizontal-lg m-1"
                *ngFor="let language of languages"
              >
                <li class="list-group-item list-group-item-info">
                  {{ language.language }}
                </li>
              </ul>
            </div>

            <!-- <div class="col languages">
              <h4>Languages</h4>
              <select
                class="form-control skillsSelect"
                formControlName="language"
                [value]="language?.language"
              >
                <option value="">Select your languages</option>
                <option value="" *ngFor="let language of languages">
                  {{ language.language }}
                </option>
              </select>
            </div> -->
          </div>
          <!-- Save button -->
          <button color="info" block="true" class="btn btn-info" type="submit">
            Save
          </button>
        </form>
      </ng-template>
    </li>
    <!-- EDUCATION -->

    <li [ngbNavItem]="2">
      <a ngbNavLink> <i class="fas fa-graduation-cap"></i> Education</a>
      <ng-template ngbNavContent>
        <form
          class="text-center border border-light p-5"
          [formGroup]="formularioEducation"
          (ngSubmit)="onSubmiEducation()"
        >
          <h2>EDUCATION</h2>
          <div class="form-row mb-4">
            <div class="col">
              <!-- Degree -->

              <select
                class="form-control skillsSelect"
                formControlName="degree"
              >
                <option selected>Select your Degree</option>
                <option value="Graduate Certificate">
                  Graduate Certificate
                </option>
                <option value="Certificate / Diplome">
                  Certificate / Diplome
                </option>
                <option value="Doctorate">Doctorate</option>
                <option value="Master">Master</option>
                <option value="Bachelor">Bachelor</option>
                <option value="Other">Other</option>
              </select>

              <!--
              <input
                type="text"
                class="form-control"
                placeholder="Degree"
                formControlName="degree"
              /> -->
            </div>
            <div class="col">
              <!-- School -->
              <input
                type="text"
                class="form-control"
                placeholder="School"
                formControlName="school"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <!-- City -->
              <input
                type="text"
                class="form-control"
                placeholder="City"
                formControlName="city"
              />
            </div>
            <div class="col">
              <!-- Country -->
              <input
                type="text"
                class="form-control"
                placeholder="Country"
                formControlName="country"
              />
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <!-- Start Date -->
              <label for="start">Start date:</label>
              <hr />

              <input
                type="date"
                id="start"
                name="trip-start"
                formControlName="start_date"
              />
            </div>
            <div class="col">
              <!-- End Date -->
              <label for="start">End date:</label>
              <hr />

              <input
                type="date"
                id="end"
                name="trip-start"
                formControlName="end_date"
              />
            </div>
          </div>
          <!-- Save button -->
          <button class="btn btn-success" type="submit" (click)="refresh()">
            Save
          </button>
          <h2 id="jobOffersPublished">Your education</h2>
          <div class="grid">
            <div
              class="card text-white bg-info mb-3"
              style="max-width: 18rem"
              *ngFor="
                let education of educations
                  | paginate: { itemsPerPage: 3, currentPage: page }
              "
            >
              <div class="card-header">
                <button
                  class="btn btn-sm btn-danger mr-3"
                  (click)="deleteEducation(education.id)"
                >
                  X</button
                >School:
                <strong> {{ education.school }}</strong>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  {{ education.degree }}
                </h5>
                <p class="card-text">
                  <strong> Location:</strong> {{ education.city }},
                  <strong>{{ education.country }}</strong>
                </p>
              </div>
            </div>
          </div>
          <pagination-controls
            (pageChange)="page = $event"
            responsive=" true"
            previousLabel="Previous"
            nextLabel="Next"
          >
          </pagination-controls>
        </form>
      </ng-template>
    </li>
    <!-- COURSE -->

    <li [ngbNavItem]="3">
      <a ngbNavLink><i class="fab fa-leanpub"></i> Courses</a>
      <ng-template ngbNavContent>
        <form
          class="text-center border border-light p-5"
          [formGroup]="formularioCourse"
          (ngSubmit)="onSubmitCourse()"
        >
          <h2>Course</h2>
          <div class="form-row mb-4">
            <div class="col">
              <!-- Title -->
              <input
                type="text"
                class="form-control"
                formControlName="course_title"
                placeholder="Course Name"
              />
            </div>
            <div class="col">
              <!-- Institution -->
              <input
                type="text"
                class="form-control"
                formControlName="institution"
                placeholder="Institution"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <!-- City -->
              <input
                type="text"
                class="form-control"
                formControlName="city"
                placeholder="City"
              />
            </div>
            <div class="col">
              <!-- Country -->
              <input
                type="text"
                class="form-control"
                formControlName="country"
                placeholder="Country"
              />
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <!-- Start Date -->
              <label for="start">Start date:</label>
              <hr />

              <input
                type="date"
                id="start"
                name="trip-start"
                formControlName="start_date"
              />
            </div>
            <div class="col">
              <!-- End Date -->
              <label for="start">End date:</label>
              <hr />

              <input
                type="date"
                id="end"
                name="trip-start"
                formControlName="end_date"
              />
            </div>
          </div>

          <div class="col">
            <!-- Course link -->
            <input
              type="url"
              class="form-control"
              value="Course link"
              formControlName="course_link"
              placeholder="Course Link"
            />
          </div>

          <!-- Save button -->
          <button class="btn btn-success m-3" type="submit" (click)="refresh()">
            Save
          </button>

          <h2 id="jobOffersPublished">Your education</h2>
          <div class="grid">
            <div
              class="card text-white bg-info mb-3"
              style="max-width: 18rem"
              *ngFor="
                let course of courses
                  | paginate: { itemsPerPage: 3, currentPage: page }
              "
            >
              <div class="card-header">
                <a
                  class="btn btn-sm btn-danger mr-3"
                  (click)="deleteCourse(course.id)"
                >
                  X
                </a>
                School: <strong> {{ course.institution }}</strong>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ course.course_title }}</h5>
                <p class="card-text">
                  Location: {{ course.city }},
                  <strong>{{ course.country }}</strong>
                </p>
              </div>
            </div>
          </div>
          <pagination-controls
            (pageChange)="page = $event"
            responsive=" true"
            previousLabel="Previous"
            nextLabel="Next"
          >
          </pagination-controls>
        </form>
      </ng-template>
    </li>
    <!-- EXPERIENCE -->

    <li [ngbNavItem]="4">
      <a ngbNavLink><i class="fas fa-building"></i> Professional Experience</a>
      <ng-template ngbNavContent>
        <form
          class="text-center border border-light p-5"
          [formGroup]="formularioProfesionalExperience"
          (ngSubmit)="onSubmitExperience()"
        >
          <h2>PROFESSIONAL EXPERIENCE</h2>
          <div class="form-row mb-4">
            <div class="col">
              <!-- Employer -->
              <input
                type="text"
                class="form-control"
                formControlName="employer"
                placeholder="Employer"
              />
            </div>
            <div class="col">
              <!-- Job Title -->
              <input
                type="text"
                class="form-control"
                formControlName="job_title"
                placeholder="Job title"
              />
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <!-- City -->
              <input
                type="text"
                class="form-control"
                formControlName="city"
                placeholder="City"
              />
            </div>
            <div class="col">
              <!-- Country -->
              <input
                type="text"
                class="form-control"
                placeholder="Country"
                formControlName="country"
              />
            </div>
          </div>

          <div class="form-row mb-4">
            <div class="col">
              <!-- Start Date -->
              <label for="start">Start date:</label>
              <hr />

              <input
                type="date"
                id="start"
                name="trip-start"
                formControlName="start_date"
              />
            </div>
            <div class="col">
              <!-- End Date -->
              <label for="start">End date:</label>
              <hr />

              <input
                type="date"
                id="end"
                name="trip-start"
                formControlName="end_date"
              />
            </div>
          </div>
          <!-- Company link -->
          <input
            type="url"
            class="form-control"
            value="Company link"
            formControlName="company_link"
            placeholder="Company link"
          />
          <!-- Jobs description -->
          <div class="mt-3 mb-3">
            <label> Description</label>
            <textarea id="" class="form-control" formControlName="description">
            </textarea>
          </div>

          <!-- Save button -->
          <button class="btn btn-success" type="submit" (click)="refresh()">
            Save
          </button>

          <h2 id="jobOffersPublished">Your Professional Experience</h2>
          <div class="grid">
            <div
              class="card text-white bg-info mb-3"
              style="max-width: 18rem"
              *ngFor="
                let profesionalExperience of profesionalExperiences
                  | paginate: { itemsPerPage: 3, currentPage: page }
              "
            >
              <div class="card-header">
                <button
                  class="btn btn-sm btn-danger mr-3"
                  (click)="deleteExperience(profesionalExperience.id)"
                >
                  X</button
                >Employer:
                <strong> {{ profesionalExperience.employer }}</strong>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  {{ profesionalExperience.job_title }}
                </h5>
                <p class="card-text">
                  <strong> Location:</strong> {{ profesionalExperience.city }},
                  <strong>{{ profesionalExperience.country }}</strong>
                </p>
              </div>
            </div>
          </div>
          <pagination-controls
            (pageChange)="page = $event"
            responsive=" true"
            previousLabel="Previous"
            nextLabel="Next"
          >
          </pagination-controls>
        </form>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <!-- <pre>Active: {{ active }}</pre> -->
</div>
